PORT=4000

#database
DB_HOST=localhost
DB_USER=rahul
DB_PASS=password123
DB_NAME=money-transfer-db


#auth
JWT_SECRET=superSecretKeyHere

#kafka
KAFKA_BROKER=localhost:9092

#redis
REDIS_HOST=localhost
REDIS_PORT=6381